page-control-movimiento-finalizado {
.estilo{
    background: #e41e3e;
    color:white;
    text-align: center;
    
}

.estilo label{
    background: #e41e3e;
    color:white;
    text-align: center;
    font-size: 150px;
}

.estilo h3{
    background: #e41e3e;
    color:white;
    
}
.cierre{
    font-size: 30px;
    text-align: right;
    margin-right: 8px;
}
}
