page-cuentas-detalle-productos {
    .estilobotones button{
        width: 25px;
    }
    .estilobotones input{
     width: 30px;
    }
    .personal{
    
     width: 100%;
    }
    .estilobotones p{
     width: 100%;
     text-align: center;
    }
    .slide-zoom{
    
        height: 100%;
        width: 100%;
    }
    
    .letras{
    
        font-size: 15px;
    }
    
    
    .divs{
        background: white;
        text-align: center;
        color:#013b6d;
        border-radius: 10%;
        width: 90%;
      }
       .observaciones{
        background: rgb(255, 194, 137);
      }
  
      .divs img{
          border-radius: 50%;
          
          height: 50%;
          margin-top: 3px;
          height: 70px;
        }
        .fondo{

            background: #f3f3f3;
        }

        .estiloBoton{
            width: 40px;
            background: white;
            color: #ff3a52;
            border: 0;
            font-size: large;
        }
        .letras{

            font-size: 15px;
        }



        
      
}

