page-inventarios {
 .headerCabecera{
     text-align: center;
     font-size: x-large;
 }
}


.accionshet .action-sheet-group   {
    border-top-right-radius: 30px!important;
    border-top-left-radius: 30px!important;
}

.accionshet  .action-sheet-group button {
    background: white;
    color: #004777 ;
    font-size: larger!important;
    font-weight: 500!important;
}

.accionshet .action-sheet-title   {
    color: black!important;
    font-size: x-large!important;
    font-weight: 700!important;
    background: white!important;
    text-align: center;
}

.colorBoton{
    color:red !important;
}