page-control-movimiento {
   .entrada{
    border-right: 20px solid #6fe06f;
   }

   .salida{
    border-right: 20px solid #ff4d4d;
   }


   .venta{
    border-right: 20px solid #78ceef;
   }
   .ordencompra{
    border-right: 20px solid #ffd84b;
   }
}
