page-productos-promociones-modalproductos {
  .primerdiv{
    width: 50px;
    float: left;
  }

  .segundodiv{
    width: 85%;
    float: left;
  }

  .numeral{
    background: white;
    color: red;
    width: 35px;
    height: 35px;
  }

  .botones{
    border-radius: 50%;
    width: 30px;
    width: 30px;;
  }
}
