page-configuracion {
.botonespersonalizados{
    height: 30px;
    width: 30px;
    background: #213f77;
    font-size: larger;
}

ion-item-divider{
    text-align: center !important;
    font-size: large !important;
    color: #095786 !important;
}

h2{
    color: #575756 !important;
    font-weight: 500 !important;
}
}
